 <div id="header" data-role="header" data-theme="a">
        <a style="margin-top:10px;" href="index.html/#search-page"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <h1 style='margin-top: 19px;'>My Cart</h1>
</div>
 <div role="main" class="ui-content" id='products'>
    <div class='cart'>
        <ngcart-cart></ngcart-cart>
    </div>

    <div class="col-md-12">

        <h3>Checkout</h3>

        <div class="payment">

            <!--<button ng-click="logout()">Logout</button></a>-->

            <div ng-if="openPayment" class="col-xs-4" ng-click="buyNowBtn()">
                <ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
            </div>

            <div ng-if="!openPayment" >
                <button class="button btn-primary" id="buyNowBtn" ng-click="confirmPayment()">Checkout and Pay</button>
            </div>


        </div>
    </div>
</div>
